{% extends '__base__.html' %} {% load staticfiles %} {% csrf_token %} {% block hdr %}

<header class="intro-header" style="background-image: url({% static 'img/prijava-bg.jpg' %})">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div class="page-heading">
                <h1>Moja Naročila</h1>
                <hr class="small">
                <span class="subheading">Spisek vaših naročil</span>
            </div>
        </div>

    </div>
</header>
{% endblock %} {% block content %} {% for order in orders %}
<div class="item col-md-12 col-md-offset-3">
    <h3 class="name"> {{ order.selling.name }} </h3>
    <ul>
        <li class="price" name="cena_O"> Cena izdelka: {{ order.price_Order }} €/kg</li>
        <li class="quantity" name="kolicina_O"> Kolicina: {{ order.quantity }} kg </li>
        <li class="description"> Ime kupca: {{ order.buyer.name }}</li>
        <li class="datum"> Datum oddaje naročila: {{ order.date_Submission| date:"H:m:s , d b Y" }}
    </ul>
    <a class="btn btn-lg btn-info" style="
                font-size: 12px;
                padding: 5px 2px;" href="{% url 'KmetApp:complete_orderSelling' %}?id={{order.id}}">Zaključi naročilo </a><br><br>
</div>
</div>
</div>
{% endfor %} {% endblock %}