{% extends '__base__.html' %} {% block content %}
<div class="col-md-offset-3">
	<form method="POST" class="form-horizontal" action="{% url 'KmetApp:add_basket' %}" enctype="multipart/form-data">
		<div class="form-group col-md-12">
			<label class="control-label col-md-5">Ime Košarice</label>
			<div class="col-md-6">
				<input type="text" name="name" value="{{form.name.value}}" placeholder="Ime izdelka" class="form-control">
			</div>
		</div>

		<div class="form-group col-md-12">
			<label class="control-label col-md-5">Cena košarice</label>
			<div class="col-md-6">
				<input type="text" name="price" value="{{form.price.value}}" placeholder="Cena izdelka" class="form-control">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label col-md-5">Količina pridelka na košarico</label>
			<div class="col-md-6">
				<input type="number" name="quantity" value="{{form.quantity.value}}" placeholder="Količina Izdelka" class="form-control">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label col-md-5">Število košaric na razpolago</label>
			<div class="col-md-6">
				<input type="text" name="total_Amount" value="{{form.total_Amount.value}}" placeholder="Število košaric" class="form-control">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label col-md-5">Mesto pridelave</label>
			<div class="col-md-6">
				<input type="text" name="origin" value="{{form.origin.value}}" placeholder="Mesto Pridelave" class="form-control">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label col-md-5">Opis košarice</label>
			<div class="col-md-6">
				<input type="text" name="description" value="{{form.description.value}}" rows="3" placeholder="Opis Izdelka" class="form-control">
			</div>
		</div>
		<div class="form-group col-md-12">
				<input id="slika" type="file" name="picture" value="{{form.picture.value}}">
		</div>
		<br>
		<button type="submit" class="btn btn-lg btn-info col-md-offset-3">Oddaj Oglas</button>
		<br> {% csrf_token %}
	</form>
</div>
{% endblock %}