{% extends '__base__.html' %}
{% load staticfiles %}

{% block hdr %}
<header class="intro-header" style="background-image: url({% static 'img/prijava-bg.jpg' %})">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="page-heading">
				<h1>Registracija</h1>
				<hr class="small">
				<span class="subheading">Tukaj se lahko vsak uporabnik registrira.</span>
			</div>
		</div>
	</div>
</header>
{% endblock %}


{% block content %}
 <!-- Main Content -->
 <div class="col-md-12">
	<form action="{% url 'KmetApp:register_user' %}" method="POST">
		{% csrf_token %}
		<div class="col-md-12 form-group">
			<label class="control-label col-md-3">Ime</label>
			<div class="col-md-6">
				<input type="text" name="name" value="{{form.name.value}}" placeholder="Ime" class="form-control ">
			</div>
		</div>
		<div class="col-md-12 form-group">
			<label class="control-label col-md-3">Priimek</label>
			<div class="col-md-6">
				<input type="text" name="last_Name" value="{{form.last_Name.value}}" placeholder="Priimek" class="form-control">
			</div>
		</div>
		<div class="col-md-12 form-group">
			<label class="control-label col-md-3">Telefonska številka</label>
			<div class="col-md-6">
				<input type="text" name="phone_Number" value="{{form.phone_Number.value}}" placeholder="Telefonska številka " class="form-control">
			</div>
		</div>
		<div class="col-md-12 form-group">
			<label class="control-label col-md-3">Naslov</label>
			<div class="col-md-6">
				<input type="text" name="adress" value="{{form.adress.value}}" placeholder="Naslov " class="form-control">
			</div>
		</div>

		<div class="col-md-12 form-group">
			<label class="control-label col-md-3">Poštna št.</label>
			<div class="col-md-6">
				<input type="text" name="zip_Code" value="{{form.zip_Code.value}}" placeholder="Poštna Številka" class="form-control">
			</div>
		</div>
		<div class="col-md-12 form-group">
			<label class="control-label col-md-3">Kraj</label>
			<div class="col-md-6">
				<input type="text" name="city" value="{{form.city.value}}" placeholder="Kraj" class="form-control">
			</div>
		</div>
</div>
<br>
<div class="col-md-12">
<button type="submit" class="btn btn btn-info col-md-offset-1">Opravi registracijo</button></div>
<br>

</form>
</div>
</div>
</div>

{% endblock %}
