{% extends '__base__.html' %} 
{% load staticfiles %}  
{% block hdr %}

<header class="intro-header" style="background-image: url({% static 'img/prijava-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="page-heading">
                    <h1>Iskanje Oglasov</h1>
                    <hr class="small">
                    <span class="subheading">Tukaj lahko vsak poišče registriran oglas.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %} {% block content %}
<form class="form-wrapper" method="POST"  action="{% url 'KmetApp:search_selling' %}">
    <div class="form-group col-md-9">
    <input type="text" name="search_term" class="form-control" placeholder="Iskanje oglasov">
    </div>
    <input type="submit" id="submit">
</form>

{% for selling in sellings %}
<div class="container" style="padding-left: 200px">
    {% if selling.picture %}
        <img src="{{selling.picture}}" width="250" height="250"></img>
    {%else %}
        <img src="{% static 'img/Selling/default.jpg' %}"
    {% endif %}
    <h3 class="name"><a >{{ selling.name }} </a>
        <div class="item col-md-12 col-md-offset-3">
    </h3>
    <ul>
        <li class="price" name="cena_O"> Cena izdelka: {{ selling.price }} €/kg</li>
        <li class="quantity" name="kolicina_O"> Kolicina: {{ selling.quantity }} kg </li>
        <li class="prodajalec"> Ime prodajalca: {{selling.seller.name}}</li>
        <li class="mesto_pridelave"> Mesto pridelave: {{selling.origin}}</li>
        <li class="description"> Opis: {{ selling.description }} </li>
    </ul>
    {%if request.user.is_authenticated %}
        <a class="btn btn-lg btn-info model" href="#" style="
                font-size: 12px;
                padding: 5px 2px;" data-toggle="modal" data-target="#myModal"
        data-id="{{selling.id}}">Oddaja naročila </a>
    {% endif %}
    <br></br>
    
    </div>
</div>

</div>
{% endfor %}

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <form action="{% url 'KmetApp:add_orderS' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Oddaja naročila</h4>
                </div>
                <div class="modal-body">
                    Količina izdelka: <input type="integer" name="quantity" id="kolicina" value="">
                    <input type="hidden" type="text" value="" name="selling" id="selling"> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" data-dismiss="modal">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        </form>
    </div>
    <!-- /.modal -->
        <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<script>
$('.model').on('click', function(e) {
    var sellingId = $(this).data('id');
     $(".modal-body #selling").val( sellingId );
});
</script>

{% endblock %}
