{% extends '__base__.html' %}
{% csrf_token %}
{% block prijava %}

 <ul class = "nav navbar-nav navbar-left">
 <li>


{% if user.is_authenticated %}
    <li>
    <a href = "{% url 'KmetApp:logoff' %}">Log Out </a>       
{% else %}
    <li>
    <a href ="{% url 'KmetApp:logon' %}">Prijava </a>

<li>
<a href ="{% url 'KmetApp:register_user' %}">Registracija</a>


{% endif %}
</ul>
{% endblock %}



{% block content %}

<h1>To je veseli kmet</h1>
<p>To je moja vsebina.</p>

{% endblock %}

{% block ftr %}

{% endblock %}